# Copy this file to ".env" and paste your real key.
# Get one at https://openrouter.ai/keys
OPENROUTER_API_KEY=
HUGGINGFACEHUB_API_TOKEN=
OLLAMA_MODEL=llama3
EMBEDDING_PROVIDER=huggingface_api
VECTOR_STORE_PROVIDER=faiss
HF_CHAT_MODEL=meta-llama/Llama-3.1-8B-Instruct
