langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
sentence-transformers
langchain-chroma
langchain-text-splitters
langchain-google-genai
langchain-ollama
faiss-cpu
chromadb
pypdf
fastapi
uvicorn[standard]
python-dotenv